.footer-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the container height to 100% */
  width: 100%;
}

.main-content {
  flex: 1; /* Set the main content to take up the remaining space */
  overflow-y: auto; /* Enable scrolling for the main content */
}

.footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}


.footer {
  padding: 20px;
  background-color: grey;
  text-align: center;
}
.footer-additional-links a {
  display: inline-block;
  margin: 0 20px; /* Add margin between links */
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
}


.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links li {
  width: 50%;
}

.footer-links li a {
  color: #333;
  text-decoration: none;
}

.footer-social-media {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-social-media a {
  margin: 0 10px;
}

.footer-additional-links {
  margin-top: 20px;
  text-align: center;
}